html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
/*    transform: rotateY(0);*/
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.wrong {
    cursor: default;
    background: red;
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 545px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 16%;
}

.timer{
  float: left;
  width:150px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.congratsModal{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  display: none;
}

.congratsModal h1 {
  margin-top: 15%;
}

.congratsModalRestart{
  color: black;
  font-size: 30px;
  padding: 10px;
  border-radius:5px;
  background-color: white;
  cursor: pointer;
}

.congratsModalLine{
  width: 60px;
  border-color: #0ff;
  margin-top: -15px;
}

ul.congratsModalStars{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 10px -0px 10px -45px;
    font-size: 30px;
}

.congratsModal strong{
    color: #0FF;
}

@media screen and (max-width: 681px){
  .deck{
    width: 98vw;
    height: 100vw;
    padding: 4.2vw;
    border-radius: 10px;
    margin: 0 0 1vw;
  }
  
  .deck .card{
    height: 20vw;
    width: 20vw;
    border-radius: 1vw;
  }
  
  .score-panel{
      width: 90vw;
    display: flex;
  }
  
  .timer{
    width: 33%;
  }
  
  .score-panel .stars{
    display: flex;
    justify-content: center;
    width: 18%;
    margin: initial;
  }
  
  span.moves{
        width: 35%;
  }
  
  .score-panel .restart{
    margin-left: 0;
    width: 5%;
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
  }
  
  
}

